@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: 0%;
    box-sizing: border-box;
}

#content {
    background-image: url(images/backgrnd.png);
    background-size: cover;
    height: 100vh;
}

#formBdy {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 30px;
}


#weatherArea {
    width: 400px;
    border-radius: 8px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    
}

nav {
    text-align: center;
    font-size: 10vh;
    font-weight: 900;
    padding: 20px;
}

#mainCard {
    margin-top: 10vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}
#mainCard h2{
    font-size: 5vh;
}

#mainCard h3{
    font-size: 4vh;
}

#searchBar {
    border: 2px solid transparent;
    background: rgba(185, 186, 185, 0.3);
    padding: 10px;
    border-radius: 10px;
}

#searchButton {
    border:none;
    background:none;
    font-size: large;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.5s;
}

#searchButton:hover{
    background-color: black;
    transition-duration: 0.5s;
}